{% extends 'AppBundle::layout.html.twig' %}



{% block content %}

    <a href="{{ path('notebook_index') }}">Retour au carnet</a>

    <h4> Ajouter une note </h4>

    <form method="post">

        <div class="form-group">
            {{ form_widget(form.title, {attr : { class : 'form-control', placeholder : 'Titre'}}) }}
        </div>

        <div class="form-group">
            {{ form_widget(form.content, {attr : { class : 'form-control', placeholder: 'Description'}}) }}
        </div>
    
        {{ form_widget(form._token) }}

        <button class="btn btn-success" type="submit">Créer</button>

    </form>


{% endblock content %}