{% extends 'AppBundle::layout.html.twig' %}



{% block content %}


    <p> Voulez vous supprimer cette note ? {{ notebook.name }}

        En supprimant vous effacer toutes les notes a l'interieur

    <p>Que voulez vous faire ?</p>

    <a class="btn btn-danger" role="button" href="{{ path('notebook_delete', {id : notebook.id}) }}">Supprimer</a>
    <a class="btn btn-info" role="button" href="{{ path('notebook_move_delete', {id: notebook.id}) }}">Supprimer et deplacer les notes vers le notebook par default</a>
    <a class="btn btn-primary" role="button" href="{{ path('notebook_index') }}">Annuler</a>


{% endblock content %}