{% extends 'AppBundle::layout.html.twig' %}



{% block content %}
    <div class="row">
        <header class="text-center home">
            <h2>L'interface pour la gesion de vos carnets</h2>

            <hr>

            <a href="{{ path('notebook_new') }}" role="button" class="btn btn-primary">Ajouter un carnet</a>
        </header>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}

            {% set notebooks = app.user.notebooks %}
            <div class="text-center">
            <h3>Carnets récemment créés</h3>
                
                <div class="recent">
                    {% for notebook in notebooks %}

                        <h4>{{ notebook.name }}</h4>
                        <p>Créer par - {{ notebook.user.fullName() }}</p>

                        {% if notebook.isAuthor(app.user) %}
                            <a href="#">Modifier</a>
                        {% endif %}

                    {% endfor %}
                </div>
            </div>
        {% else %}
        <div class="text-center">
            <p>Connecter vous</p>
        </div>
        {% endif %}
    </div>
{% endblock content %}